//生成随机背景色
@function random-color() {
  $red: random(255);
  $green: random(255);
  $blue: random(255);
  @return rgb($red, $green, $blue);
};

// 针对一百个元素生成背景色
@for $i from 0 through 99 {
  .mockElementBg#{$i} {
    background-color: random-color();
  }
};


.mockElement {
  width: 200px;
  // height: 200px;
}

.mockElementContainer {
  display: flex;
  flex-wrap: wrap;
}

.minLineLastElement{
  visibility: hidden;
  position: relative;
}

.expandButton{
  visibility: visible;// 具有继承性，子元素通过visible展示
  position: absolute;
  bottom:50%;
  transform: translateY(50%);
}